<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="/styles.css">
</head>

<body>
  <div class="container flex flex-col items-center m-auto">
    <div class="mt-10 text-4xl font-bold text-gray-700">PRODUCTION</div>
    <div class="mt-10 text-4xl font-bold text-gray-700">
      <%= errors ? errors : '' %>
    </div>
    <div class="flex flex-wrap justify-center">
      <% product.forEach((el)=> { %>
        <% if(el.showStock()){ %>
          <div
            class="ml-10 mt-20 relative flex w-96 flex-col rounded-xl bg-white bg-clip-border text-gray-700 shadow-md">
            <div
              class="relative mx-4 -mt-6 h-56 overflow-hidden rounded-xl bg-blue-gray-500 bg-clip-border text-white shadow-lg shadow-blue-gray-500/40">
              <img class="object-contain h-48 w-96"
                src="<%= el.imgProduct %>"
                alt="img-blur-shadow" layout="fill" />
            </div>
            <div class="p-6">
              <h5
                class="mb-2 block font-sans text-xl font-semibold leading-snug tracking-normal text-blue-gray-900 antialiased">
                <%= el.nameProduct %>
              </h5>
              <p class="block font-sans text-base font-light leading-relaxed text-inherit antialiased">
                <%= el.description %>
              </p>
              <p class="block font-sans text-base font-light leading-relaxed text-inherit antialiased">Stock <%=
                  el.showStock() %>
              </p>
              <p class="block font-sans text-base font-light leading-relaxed text-inherit antialiased">Price <%=
                  el.currencyIDR %>
              </p>
            </div>
            <div class="p-6 pt-0">
              <a href="/products/<%= userId  %>/buy/<%= el.id  %>">
                <button
                  class="select-none rounded-lg bg-blue-600 py-3 px-6 text-center align-middle font-sans text-xs font-bold uppercase text-white shadow-md shadow-pink-500/20 transition-all hover:shadow-lg hover:shadow-pink-500/40 focus:opacity-[0.85] focus:shadow-none active:opacity-[0.85] active:shadow-none disabled:pointer-events-none disabled:opacity-50 disabled:shadow-none"
                  type="button" data-ripple-light="true">
                  Buy
                </button>
              </a>
            </div>
          </div>
          <% } %>

            <% }) %>

    </div>
  </div>

</body>

</html>